main {
  background: linear-gradient(to bottom, #edd9d7 0%,#ede4e3 100%);
  text-align: center;
  padding: 15px 0px 15px 0px;
  color: #696969;
}

#img-div img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

#img-div {
  width: 100%;
  position:relative;
}
