main {
  margin: 30px auto;
  background: linear-gradient(to bottom, #edd9d7 0%,#ede4e3 100%);
  text-align: center;
  padding: 15px;
  color: #2b2b2b;
  font-family: 'Arvo', serif;
  border-radius: 10px;
}

figure {
  max-width: 100%;
  border-radius:15px;
  border: white solid 20px;
  background-color: white;
}

#title {
  font-family: 'Ubuntu', sans-serif;
}

#img-div {
  min-width: 100%; 
}
#img-div img {

  max-width: 100%;
  /* border-radius: 25px; */
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-caption {

  margin: 15px;
  background: white;
}
