body {
  padding: 0;
  margin: 0;
}
main {
  margin: 0;
  background: #efe2e1; /* Old browsers */
  background: -moz-linear-gradient(top, #efe2e1 0%, #fff7f9 0%, #ffe2e9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #efe2e1 0%,#fff7f9 0%,#ffe2e9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #efe2e1 0%,#fff7f9 0%,#ffe2e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efe2e1', endColorstr='#ffe2e9',GradientType=0 ); /* IE6-9 */
  text-align: center;
  color: #2b2b2b;
  font-family: 'Arvo', serif;
  padding-top: 15px;
  min-height: 100vh; 
}

figure {
  max-width: 50vw;

  /* border-radius:15px; */

  /* height: 50vh; */
  background-color: white;
  margin: 0 auto;

}

#img-div {
  /* width: 50vw; */
  /* height: 100vh; */
  position: relative;
  box-sizing: border-box
}

#title {
  font-family: 'Ubuntu', sans-serif;
  margin-top: 0;

  /* position: absolute; */
}

#img-caption {

  margin: 15px;
  background: white;
}


#img-div img {
  max-width: 100%;

  display: block;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
}
